<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>视图信息</title>
    <!-- 引入地图引擎库 -->
    <script
      include="leaflet,mapboxgl"
      src="http://webclient.smaryun.com/static/libs/include-lib-local-upgrade.js"
    ></script>
    <!--示例中面板、按钮等，第三方layui的js库与css样式-->
    <script src="http://webclient.smaryun.com/static/libs/cdn/layui/layui.js"></script>
    <link
      rel="stylesheet"
      href="http://webclient.smaryun.com/static/libs/cdn/layui/css/layui.css"
    />
    <!--示例公共样式-->
    <link
      rel="stylesheet"
      href="http://webclient.smaryun.com/static/libs/css/style.css"
    />
    <link
      rel="stylesheet"
      href="http://webclient.smaryun.com/static/libs/css/analyse.css"
    />
    <script type="text/javascript">
      //使用严格模式
      'use strict'
      // 定义二维视图的主要类
      let map, view
      const { IGSTileLayer } = zondy.layer
      const { Map } = zondy
      const { Extent } = zondy.geometry
      let $ = layui.jquery

      // 自动获取当前视图信息
      function getViewParams() {
        // 获取当前视图对象比例尺
        $('#viewer-scale').val(view.scale)
        // 获取当前视图中心点
        $('#viewer-center').val(view.center.coordinates)
        // 获取当前视图缩放级别zoom
        $('#viewer-zoom').val(view.zoom)
      }

      // 初始化地图
      function init() {
        // 初始化地图视图
        initView()
        // 添加瓦片图层
        addIGSTileLayer()
      }

      // 初始二维地图
      function initView() {
        // 初始化图层管理容器
        map = new Map()
        // 初始化地图视图对象
        view = createView('mapgis-viewer', map)
      }

      // 添加瓦片图层
      function addIGSTileLayer() {
        const igsTileLayer = new IGSTileLayer({
          url: 'http://webclient.smaryun.com:8089/igs/rest/services/Tile/湖北省_4326_normal_3-10/TileServer'
        })
        map.add(igsTileLayer)
        igsTileLayer.on('layerview-created', (result) => {
          view.flyTo({
            extent: result.layer.extent
          })
          // 读取初始化后视图信息
          getViewParams()
          // 注册地图视图改变事件，以便动态获取视图信息
          viewChangeEvent()
        })
      }

      // 注册地图视野改变事件
      function viewChangeEvent() {
        const viewChangeHandler = function (event) {
          getViewParams()
        }
        // 监听view变化事件，及时更新当前视图对象信息
        view.on('view-change', viewChangeHandler)
      }
    </script>
    <style>
      .layui-panel {
        width: auto;
        z-index: 9999;
      }
    </style>
  </head>

  <body onload="init();">
    <!--  视图容器div  -->
    <div id="mapgis-viewer" style="position: absolute; width: 100%; height: 100%"></div>
    <div class="layui-panel layui-panel-right">
      <form class="layui-form" action="">
        <div class="layui-form-item">
          <label class="layui-form-label">比例尺:</label>
          <div class="layui-input-block" style="margin-bottom: 6px">
            <input
              id="viewer-scale"
              value="0"
              autocomplete="off"
              class="layui-input"
            />
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">中心点:</label>
          <div class="layui-input-block" style="margin-bottom: 6px">
            <input
              id="viewer-center"
              value="0"
              autocomplete="off"
              class="layui-input"
            />
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">当前缩放等级:</label>
          <div class="layui-input-block" style="margin-bottom: 6px">
            <input
              id="viewer-zoom"
              value="0"
              autocomplete="off"
              class="layui-input"
            />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
